.Box {
    margin: 3%;
    margin-right: 7%;
    margin-left: 7%;
    padding: 2%;
    background-color: #D9D9D9;
    border-radius: 5px;
}

#formwrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.formsubwrap {
    display: flex;
    flex-direction: column;
    margin: 2%;
}

#formsubwrap1 {
    flex: 0 0 40%;
}

#formsubwrap2 {
    flex: 0 0 40%;
}

#formsubwrap3 {
    flex: 0 0 10%;
    margin-top: auto;
}

#toggle {
    border: hidden;
    justify-content: left;
    padding-left: 0;
}

#toggle:hover {
    background-color: transparent;
}

#formInput{
    
}