.Box {
    margin: 3%;
    padding: 2%;
    background-color: #CFD6DC;
    border-radius: 5px;
}

#wrapper {
    display: flex;
    flex-direction: column;
}

#top_wrapper {
    display: flex;
    flex-direction: row;
    flex: 0 0 20%;
}

#image_wrapper {
    flex: 0 0 40%;
    width: 100%;
}

#image {
    width: 60%;
    border-radius: 5px;
}

#employee_buttons {
    flex: 0 0 60%;
    text-align: right;
}

#bottom_wrapper {
    display: flex;
    flex-direction: row;
    flex: 0 0 80%;
    justify-content: space-between;
}

#col1, #col2, #col3 {
    display: flex;
    flex-direction: column;
    flex: 0 0 25%;
}

#col3 {
    flex: 0 0 50%;
    flex-direction: row;
    margin-top: auto;
}

.actionButton {
    width: 50%;
}