#content {
    justify-content: center;
    margin: 3%
}

#top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filterForm {
    width: 20%;
}

#pets_wrapper {
    width: 100%;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.card_content {
    display: flex;
    flex-direction: column;
}

.card_bottom {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-top: 5%;
}

.card_bottom_button {
    margin-top: auto;
    margin-left: auto;
    text-align: left;
    justify-content: left;
}

.info_button {
    margin-top: auto;
    margin-left: auto;
}

.info_button:hover {
    cursor: pointer;
}

.pet_image_wrapper {
    flex: 0 0 50%;
    width: 250px;
    height: 250px;
    padding: 0;
    text-align: center;
    background-color: red;
}

.pet_image {
    display: flex;
    border-radius: 10px;
    width: 250px;
}