#content {
    justify-content: center;
    margin: 3%
}

#petsTable {
    border-radius: 5px;
    border-collapse: separate;
}

.petImageCell {
    width: 15%;
    justify-content: center;
}

.pet_image_wrapper {
    width: 100%;
}

.pet_image {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.petsTableCell {
    border-top: 1px solid black;
    border-left: hidden;
    border-right: hidden;
}

#firstRow {
    border-top: hidden;
}

.action_buttons_wrapper {
    text-align: center;
}

.action_buttons_wrapper > * {
    width: 5%;
    color: black;
}