.navbar {
    background-color: #333;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-link, .nav-user {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 10px 15px;
}

.nav-logo {
    display: flex;
}

.nav-logo-item {
    color: white;
}