.loginBox {
    margin: 3%;
    padding: 2%;
    background-color: #D9D9D9;
    border-radius: 5px;
  }
  
  #loginFormWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .loginFormSubwrap {
    display: flex;
    flex-direction: column;
    margin: 2%;
  }
  
  #loginFormSubwrap1 {
    flex: 0 0 60%;
  }
  
  #loginFormSubwrap2 {
    flex: 0 0 20%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .loginFormInput {
    margin-bottom: 0.5rem !important;
  }
  