#pets_table {
    border-radius: 5px;
    border-collapse: separate;
}

.pet_image_cell {
    width: 25%;
    justify-content: center;
}

.pet_image_wrapper {
    width: 100%;
}

.pet_image {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}